<main class="main">
    <div class="content">
        <div class="background">
            <div class="countdown-timer">
                <h1>{{ days }}d {{ hours }}h {{ minutes }}m {{ seconds }}s</h1>
            </div>

            <div class="greeting">
                <h2>Hola {{ nombre }}, Favor de confirmar.</h2>
            </div>

            <form [formGroup]="datosForm">
                <div class="dropdown" [hidden]="this.hideCel">
                    <label>Número celular:</label>
                    <input type="text" class="form-control" oninput="this.value = this.value.replace(/[^0-9]/g, '')" maxlength="10" formControlName="celular">
                </div>
                <div [hidden]="this.hideCel">
                    <a (click)="buscarCelular()" class="btn btn-outline-info btn-lg">Buscar</a>
                </div>
                <div class="dropdown" [hidden]="!this.hideCel"> 
                    <label>Seleccione el número de pases:</label>
                    <select class="form-select form-select-lg mb-3" formControlName="pases">
                        <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
                    </select>
                </div>
            </form>

            <div class="submit-button" [hidden]="!this.hideCel">
                <button (click)="onSubmit()" [disabled]="!this.datosForm.valid" class="btn btn-outline-info btn-lg">Confirmar</button>
            </div>
        </div>
    </div>
</main>
<router-outlet />